<H1>My Secret</H1>
<h3>I went to my girlfriends play.  It was the first play I went to with her in
  it.  I was having a great time until there was a climactic moment in the show.
  I ended up farting really loud and everyone looked in my direction.  I gave the
  guy next to me a disgusted look and everyone thought it was him.  Winning.
</h3>